events:
  - match: [Msg, 'New command started']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
      - regex: [Timestamp, '(\d+)']
        labels:
          - { name: timestamp, parse: 'lambda x: int(x)' }
    transitions:
      - {sm: ctag, from: None, to: open}
  - match: [Msg, 'Command started processing']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
    transitions:
      - {sm: ctag, from: open, to: processing}
  - match: [Msg, 'Dispatched command']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+) subtag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
          - { name: subtag, parse: 'lambda x: int(x,16)' }
    transitions:
      - {sm: ctag, from: processing, to: response}
      - {sm: subtag, from: None, to: open}
  - match: [Msg, 'Cache hit, early return']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
    transitions:
      - {sm: ctag, from: processing, to: complete}
  - match: [Msg, 'Response received for']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
    transitions:
      - {sm: ctag, from: response, to: complete}
      - {sm: subtag, from: open, to: None}
    relative_events:
      - offset: 1
        match: [Msg, 'Response status : ({:d})']
        field_defs:
          - regex: [Msg, 'Response status : ({:d})']
            labels:
              - { name: response, parse: 'lambda x: int(x)' }
  - match: [Msg, 'Command complete']
    field_defs:
      - regex: [Msg, 'ctag : 0x([0-9a-fA-F]+)']
        labels:
          - { name: tag, parse: 'lambda x: int(x,16)' }
    transitions:
      - {sm: ctag, from: complete, to: None}

state_machines:
  - name: ctag
    instance_id: ctag
    instance_id_valid_range: [0,255]
  - name: subtag
    instance_id: subtag
    instance_id_valid_range: [0,255]

event_groups:
  - name: errors
    events_ids: [0, 5, 12]

tables:
  - name: log
    columns:
      - label: Timestamp
        type: int
      - label: Module
        type: text check( Module in ('Mod1','Mod2','Mod3','Mod4','Mod5','Mod6'))
      - label: Submodule
        type: text check( Submodule in ('Submod1','Submod2','Submod3','Submod4','Submod5','Submod6','Submod7','Submod8','Submod9','Submod10','Submod11','Submod12','Submod13','Submod14','Submod15','Submod16'))
      - label: Msg
        type: text
      - label: Data1
        type: int
      - label: Data2
        type: int
      - label: Data3
        type: int
      - label: Data4
        type: int
    primary_key: [Timestamp]
    indexes: [[Timestamp],[Module]]


# -Probably need to add a filter: field for relative_events to fully define
# what "offset" means

